
<div class="container">
    <div class="footer">
        <p>Created by David (@Safari137 - freecodecamp)</p>
        <p><a href="https://github.com/safari137/nightlife_app">Nightlife Github Repository</a></p>
    </div>
</div>