<% include ./partials/header %>

<div class="container">
    <h1 class="text-center">What's going on in your area?</h1>
    
    <% if (!isAuthenticated) { %>
    
        <div class=" row text-center">
            <div class="col-md-4 col-sm-0"></div>
            <div class="col-md-2 col-sm-6">
                <a class="btn btn-primary btn-block" href="/login">Login </a>
            </div>
            <div class="col-md-2 col-sm-6">
                <a class="btn btn-success btn-block" href="/signup"> Signup</a>    
            </div>
            <div class="col-md-4 col-sm-0"></div>
            
        </div>
        
    <% } %>
    
    <input type="hidden" id="hasHomeSearchArea" value="<%= hasHomeSearchArea %>">
    
    <div class="search-container">
        <input type="text" class="form-control text" id="location" placeholder="enter your location">
        <button class="btn btn-primary btn-block" id="findBars">Find Bars</button>
    </div>
    
    <div class="locations">

    </div>
</div>

<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="./js/nightlife.js"></script>

<% include ./partials/footer %>

