<% include ./partials/header %>

<div class="container">
    <h1 class="text-center">Index</h1>
    <div class="search-container">
        <input type="text" class="form-control" id="location" placeholder="enter your location">
        <button class="btn btn-primary btn-block" id="findBars">Find Bars</button>
    </div>
    
    <div class="locations">
        
    </div>
</div>

<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="./js/nightlife.js"></script>
