<h1>Login</h1>

        <% if (message.length > 0) { %>
            <div class="alert alert-danger text-center"><%= message %></div>
        <% } %>

<form method="post" action="/login">
    <input type="text" name="email" placeholder="email or username"><br>
    <input type="password" name="password" placeholder="password"><br>
    <button type="submit">Login</button>
</form>