.search-container {
    width: 300px;
    margin: 25px auto;
    text-align: center;
}

.text {
    text-align: center;
}

::-webkit-input-placeholder {
   text-align: center;
}

.search-container input[type=text] {
    margin-bottom: 1px;
}

.location-title {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
}

.location-snippet {
    margin-top: 10px;
    font-size: 14px;
    font-style: italic;
    text-align: center;
}

.img {
    border-radius: 15px;
}

.bordered {
    border: 2px solid #444;
}

.location {
    padding-left: 5;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    background: #ccc;
}

.location:hover {
    box-shadow: 10px 10px 5px #888888;
    background: #eee;
}

.location button {
    margin-left: 15px;
}

.error-message {
    margin-left: 10px;
    font-size: 14px;
    color: #a94442;
    font-weight: normal;
    background: #f2dede;
}

.form-container {
    width: 50%;
    border: solid 2px black;
    margin: 25px auto;
    padding: 20px;
    background: #eee;
}

.info {
    font-size: 14px;
    margin-top: 10px;
}

.footer {
    margin-top: 15px;
    font-size: 14px;
}

body {
    background: #ddd;
}